@media(max-width: 768px) {
  .container_3aBgK {
    margin-top: 20px
  }
}

@media(min-width: 769px) {
  .container_3aBgK {
    margin-top: 30px;
  }
}

.content_1jnXo {
  @include flexbox();
  @include flex(1);
}

// Left panel
@media(min-width: 769px) {
  .results_37tfm {
    @include flex();
  }
}

@media(max-width: 768px) {
  .results_37tfm {
    width: 100%
  }
}

@media(min-width: 769px) {
  .fullWidthBox_3Dggh .header_3GFef {
    margin: 0 20px
  }
}

// Left posts list's title

.header_3GFef, .header_for_user_profile_social {
  @include flexbox();
  @include align-items(baseline);
  @include justify-content(space-between);

  border-bottom: 1px solid #f2f2f2;
  padding: 15px 0;
  box-sizing: border-box;
}

@media (min-width: 769px) {
  .paddedBox_2UY-S {
    padding: 0 20px
  }
}

.paddedBox_2UY-S .header_3GFef + * {
  margin-top: 20px
}

@media (max-width: 768px) {
  .paddedBox_2UY-S .header_3GFef.hideOnSmallScreen_1VjPA + * {
    margin-top: 0
  }
}

@media (min-width: 769px) {
  .paddedBox_2UY-activity {
    padding: 0;
  }
}

.paddedBox_2UY-activity .header_3GFef + * {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .paddedBox_2UY-activity .header_3GFef.hideOnSmallScreen_1VjPA + * {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .hideOnSmallScreen_1VjPA {
    display: none;
  }
}

.header_title {
  font-style: normal;
  font-weight: normal;
}

.title_38djq {
  line-height: 20px
}

.toggle_Tx6Vy {
  a {
    padding: 0 .5em;
    cursor: pointer
  }
  a:first-of-type {
    border-right: 1px solid #f2f2f2
  }
}

// Right panel
.sidebar_Y2LGQ {
  @include mq($from: desktop) {
    margin-left: 20px;
    width: 350px;
  }
  @include mq($until: desktop) {
    display: none
  }
}

// Loading
.loading_2hQxH {
  display: block;
  padding: 0 0 20px;
  text-align: center;
  width: 100%
}
